@use "../presets/variables" as *;
@use "../presets/skin" as *;

*::before,
*::after,
* {
	box-sizing: border-box;
}

html {
	font-family: $font-main;
}

body {
	font-size: $font-size;
}

a {
	text-decoration: none;
}