@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/extends" as *;

*::before,
*::after,
* {
	box-sizing: border-box;
}

html {
	font-family: $font-main;
}

body {
	font-size: $font-size;
}

h1, h2, h3, p {
	text-align: center;
	@extend %text-shadow;
}

a {
	text-decoration: none;
}