@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/extends" as *;

*::before,
*::after,
* {
	box-sizing: border-box;
}

html {
	font-family: $font-main;
}

body {
	font-size: $font-size;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}