@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;

.controls {
	display: flex;
	gap: $gap;
}

.control {
	cursor: pointer;
	display: block;
	padding: 0.7em 1em;
	transition: all .25s ease-in-out;
	text-align: center;
	user-select: none;
	font-size: 2rem;
	color: $color-light;
	transform: translateY(-50%);

	&:hover,
	&:focus {
		@include box-shadow(0, 0, $gap, $color-gray-dark);
		color: $color-light;
	}

	&__prev {
		position: absolute;
		top: 50%;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__pause {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		border-radius: 50%;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	&__next {
		position: absolute;
		top: 50%;
		right: 0;
		height: 100%;
		display: flex;
		align-items: center;
	}
}