@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;

.controls {
	display: flex;
	gap: $gap;
}

.control {
	cursor: pointer;
	display: block;
	padding: 0.7em 1em;
	text-align: center;
	user-select: none;
	color: rgba($color-light, .5);
	transform: translateY(-50%);
	transition: all .25s ease-in-out;
	@include md-min {
		font-size: 3rem;
	}

	@include md {
		font-size: 2rem;

	}

	&:hover,
	&:focus {
		color: $color-light;
		@include text-shadow(0, 0, $gap, $color-light)
	}

	&__prev {
		position: absolute;
		top: 50%;
		left: 0;
		height: 100%;
		display: flex;
		align-items: center;

		&:hover {
			background: linear-gradient(to left, transparent 20%, rgba($color-text, .25));
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;

		@include md-min {
			font-size: 5rem;
		}

		@include md {
			font-size: 3rem;
		}
	}

	&__next {
		position: absolute;
		top: 50%;
		right: 0;
		height: 100%;
		display: flex;
		align-items: center;
		transition: .25s;

		&:hover {
			background: linear-gradient(to right, transparent 20%, rgba($color-text, .25));
		}

	}
}