@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/extends" as *;

.slides {
	position: relative;
	min-height: 100vh;
	@include list-none;
	overflow: hidden;
}

.slide {
	@include abs-position;
	padding: $gap-x2;
	background-color: $color-primary;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
	z-index: -9999;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	text-align: center;
	@include text-shadow(0, 0, $gap-lg, $color-black);

	transition: opacity .5s, background-position 2s ease;
	color: $color-text;

	&.active {
		opacity: 1;
		background-position: center bottom;
	}

	// Анимации для текста
	.slide__title,
	.slide__description {
		opacity: 0;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	// Анимации с разными направлениями
	@keyframes slideInLeft {
		from {
			transform: translateX(-100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes slideInRight {
		from {
			transform: translateX(100%);
			opacity: 0;
		}
		to {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes slideInTop {
		from {
			transform: translateY(-100%);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes slideInBottom {
		from {
			transform: translateY(100%);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.slide--left {
		animation-name: slideInLeft;
	}

	.slide--right {
		animation-name: slideInRight;
	}

	.slide--top {
		animation-name: slideInTop;
	}

	.slide--bottom {
		animation-name: slideInBottom;
	}


	ul {
		@include list-none(0 0 0 $gap-x5 * 6);
	}

	&__contacts {
		display: flex;
		gap: $gap-x2;
		font-size: 1.5rem;
		justify-content: space-around;

		i {
			margin-right: $gap-sm;
			color: $color-text;
		}
	}

	&:nth-last-of-type(3) {
		li {
			@include text-shadow(0, 0, $gap, $color-black);
			margin-bottom: $gap-sm;
			font-family: Arial, sans-serif;
			font-size: 2.5rem;
			position: relative;
			padding-left: $gap-x3;
			text-align: left;
			display: flex;

			&::before {
				content: "✔";
				position: absolute;
				top: 5px;
				left: 0;
				color: #026C4F;
				font-size: 2.5rem;
			}
		}
	}
}
